/**
 * Site header
 */
.site-header {
    background-color: #333745;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 25px 0;

    #face {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 2px solid white;
        margin: 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%; /* future proofing */
        -khtml-border-radius: 50%; /* for old Konqueror browsers */

        img {
            width: 100px;
        }
    }

    h1 {
        font-size: 2.5em;
        color: #FFFFFF;
        margin: 0;
    }

    h2 {
        font-size: 1.5em;
        color: #FFFFFF;
        line-height: initial;
    }

    #media {
        padding: 25px;

        .social {
            width: 30px;
            height: 30px;
            margin: 20px;

            a {
                text-underline: none;
            }

            img {
                width: 30px;
            }
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    width: 100%;
    background-color: #333745;
    padding: 20px 10px;

    p {
        color: white;
        font-weight: lighter;
        font-size: 0.9em;
    }

    h1 {
        color: #DAEDE2;
        font-weight: lighter;
        font-size: 1.5em;
        padding: 10px 0;
    }

    .media {
        padding: 20px 0;

        .social {
            width: 20px;
            height: 20px;
            margin: 20px;

            a {
                text-underline: none;
            }

            img {
                width: 20px;
            }
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Projects
 */

.project {
    width: 25%;
    min-width: 250px;
    display: block;
    position: relative;
    float: left;
    padding: 20px 0;

    .project-content {
        display: block;
        width: 230px;
        height: 230px;
        margin: 10px auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%; /* future proofing */
        -khtml-border-radius: 50%; /* for old Konqueror browsers */
        background-color: #EAEAFF;
        position: relative;

        h2 {
            width: 100%;
            text-align: center;
            color: #EA2E49;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}



.project-list div {
    width: 300px;
    height: 300px;
    background-color: #CCCCCC;
    margin: 10px;
    float: left;
    display: block;
    position: relative;
}

.project-list div span {
    width: 100%;
    padding: 20px;
    display: block;
}